@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
	--font-inter: "Inter", sans-serif;

	--animate-loading-bar: loading-bar 1s ease-in-out forwards;
	@keyframes loading-bar {
		0% {
			width: 0%;
		}
		100% {
			width: 100%;
		}
	}

	--animate-close-loading-bar: close-loading-bar 1.5s ease-in-out forwards;
	@keyframes close-loading-bar {
		66.6% {
			transform: scalex(1);
		}
		100% {
			transform: scalex(0);
		}
	}

	--animate-cover-slide-out: cover-slide-out 2.5s ease-in-out forwards;
	@keyframes cover-slide-out {
		0% {
		}
		66.6% {
			transform: translateY(0%);
			border-bottom-left-radius: 0%;
			border-bottom-right-radius: 0%;
		}

		100% {
			transform: translateY(-100%);
			border-bottom-left-radius: 100%;
			border-bottom-right-radius: 100%;
		}
	}

	--animate-mobile-cover-slide-out: mobile-cover-slide-out 2.5s ease-in-out
		forwards;
	@keyframes mobile-cover-slide-out {
		66.6% {
			transform: translateY(0%);
		}

		100% {
			transform: translateY(-100%);
		}
	}
}
